// .home .footer { display: none; }

.footer {
  clear: both;
  position: relative;
  // height: $footer-height;
  width: 100%;
  text-align: center;
  color: $light-color;
  font-size: 0.8rem;
  background: #24292e;
  padding: 1rem 0;
  @include susy-media($mq-on-canvas-menu) {
  	@include span(9 of 12 last);
    margin: auto;
  }
}

.footer p {
  color: inherit;
  font-size: inherit;
}
