.header {
  @include span(12 of 12);
  position: sticky;
  top: 0;
  background-color: hsl(0, 0%, 98%);
  background-color: #191b1c;
  // border-bottom: 1px solid hsl(0, 0%, 90%);
  padding: 1rem;
  margin-bottom: $default-top-margin;
  z-index: 100;
  bottom:0;

  .home & {
    border-bottom: none;
  }

  @include susy-media($mq-on-canvas-menu) {
  	@include span(3 of 12);
  	padding: 1em;
  	padding: 1em;
  	margin-bottom: 0;
  	border-bottom: none;
    background-color: #191b1c;
    color: #fff;
    height: auto;
    position: fixed;
    transition: left 0.5s, opacity 0.4s ease, transform 0.5s;
  }

  @include susy-media($mq-giant) {
    padding: 1em;
  }
}

.header__logo {
  color: $heading-color;
  color: #fff;
  display: block;

  &:hover,
  &:focus {
    border-bottom: none;
    color: lighten($heading-color, 10%);
    color: darken(#fff, 10%);
  }

  @include susy-media($mq-on-canvas-menu) {
    color: #fff;
  }
}

.header__name {
  font-family: $nav-font-family;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1;
  -ms-font-feature-settings: normal; //Fix IE10 bug that will not display the font without this line
  color: #fff;
  text-align: right;
  @include susy-media($mq-on-canvas-menu) {
    font-size: 2.5rem;
    padding-top: 2rem;

  }
  @include susy-media($mq-small) {
    text-align: center;

  }

}

.home .header__name {
  -ms-font-feature-settings: normal; //Fix IE10 bug that will not display the font without this line

  @include susy-media($mq-xsmall) {
    font-size: 4rem;
    font-size: 2.5rem;
  }

  @include susy-media($mq-large) {
    font-size: 2.5rem;
  }
}

.header__work-title {
  font-size: 0.4em;
  letter-spacing: 1px;
  -ms-font-feature-settings: normal; //Fix IE10 bug that will not display the font without this line
  font-family: 'Aire Roman Pro';
  text-transform: capitalize;
  font-style: italic;
}

.empasis {
  color: lighten(orange, 6%);;
}

#portfolio .header {
  margin-bottom: 0;
}
