// .main {
//   // background: green;
//   height: 600px;
//
// }
//
// .text {
//   background: green;
// }
//
// .box {
//   background: red;
//   width: 100%;
//   position: relative;
// }
//
.box__title {
  //   text-align: center;
  float: right;
  font-size: 3rem;
  font-family: 'Aire Roman Pro', 'Times New Roman', 'Times', 'Georgia';
  // font-family: sans-serif;
  // position: absolute;
  // top:0;bottom:0;left:0;right:0;
  // margin: auto;
  // height: 0;
  // background: blue;
  // width: 50%;
}
