.toggle-primary-nav-btn {
  @include cf();
  display: block;
  position: absolute;
  top: 30px;
  left: 30px;
  line-height: 1;
  padding: 5px 1rem; //
  color: $default-font-color;
  z-index: 100;

  &:hover,
  &:focus,
  &:active {
    border-bottom: none;
    color: $default-link-color-hover;
    color: lighten($heading-color, 10%);
  }

  @include susy-media($mq-on-canvas-menu) {
  	display: none;
  }
}


.toggle-primary-nav-animation {
  // cursor: pointer;
  padding: 0.5rem 3em 1rem 0;
}

.toggle-primary-nav-animation .menu-bar,
.toggle-primary-nav-animation .menu-bar:before,
.toggle-primary-nav-animation .menu-bar:after {
  // cursor: pointer;
  border-radius: 1px;
  height: 1px;
  width: 30px;
  background: white;
  position: absolute;
  display: block;
  content: '';

  transition: all 500ms ease-in-out;
}
.toggle-primary-nav-animation .menu-bar:before {
  top: -9px;
}
.toggle-primary-nav-animation .menu-bar:after {
  bottom: -9px;
}

.toggle-primary-nav-animation-active .menu-bar {
  background-color: transparent;
}
.toggle-primary-nav-animation-active .menu-bar:before,
.toggle-primary-nav-animation-active .menu-bar:after {
  top: 0;
  background-color: orange;
}
.toggle-primary-nav-animation-active .menu-bar:before {
  transform: rotate(45deg);
}
.toggle-primary-nav-animation-active .menu-bar:after {
  transform: rotate(-45deg);
}

.primary-nav {
  display: none;
  position: absolute;
  top: 88px;
  left: 0;
  width: 95%; // if browsers doesn't support calc
  width: $off-canvas-nav-width;
  max-width: $off-canvas-nav-max-width;
  height: 100vh;
  background-color: $off-canvas-nav-background;
  background-color: #191b1c;
  padding: $off-canvas-nav-padding;
  z-index: 999;
  box-shadow: 0px 3px 8px 1px hsla(0, 0%, 0%, 0.3);

  @include susy-media($mq-on-canvas-menu) {
    display: block;
    position: relative;
    top: auto;
    right: auto;
    left: 2em;
    width: auto;
    max-width: none;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
    margin-top: $default-top-margin;
    margin-top: 7em;
    text-align: left;
  }
  @include susy-media($mq-large) {
    font-size: 1em;
  }

  @include susy-media($mq-giant) {
    font-size: 1em;
  }

}

.primary-nav a {
  display: block;
  text-decoration: none;
  color: $off-canvas-nav-link-color;
  color: #fff;
  font-family: $nav-font-family;
  font-family: 'Josefin Sans', sans-serif;
  font-size: $off-canvas-nav-font-size;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 0;
  padding: 5px 0;
  -ms-font-feature-settings: normal; //Fix IE10 bug that will not display the font without this line

  &:hover,
  &:focus { color: darken(#fff, 10%); }

  &.is-active {
    color: $default-font-color;
    color: #FF8383;
    color: lighten(orange, 6%);
  }

  @include susy-media($mq-on-canvas-menu) {
    display: inline;
    color: #fff;
    font-size: 1.5em;
    padding: 2px 0;
    text-align: left;
    text-transform: none;
    letter-spacing: normal;
  }
}

.is-active {
  color: $default-font-color;
  color: #FF8383;
  color: lighten(orange, 6%);
}

.primary-nav li {

  & + li {
    margin-top: 0.5em;

    @include susy-media($mq-on-canvas-menu) { margin-top: 0; }
  }
}
