.about-portrait {
  float: right;
  width: 50%;
  // margin-left: 20px;
  // margin-bottom: 20px;
  margin-top: 0;

  @include susy-media($mq-large) {
  	margin-left: 50px;
    // margin-bottom: 50px;
  }
}

.about-portrait.left {
  float: left;
  margin-left: 0;
  margin-right: 20px;

  @include susy-media($mq-large) {
  	margin-right: 50px;
  }
}

.about-portrait.fullwidth {
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: auto;
}

.about .text p {
  @include susy-media(max-width $mq-xlarge) {
  	margin-top: $default-top-margin;
  }
}
