$primary-color: #FAF6E4; // creamy
$accent-color: rgba(133,122,109, 1); // greenish

//----------------------------------*\
// MEDIA QUERIES
// http://susy.readthedocs.org/en/latest/toolkit/#susy-media
//----------------------------------*/
$mq-xsmall: 20.625em; //330px
$mq-small: 25em; //400px
$mq-medium: 31.25em; //500px
$mq-large: 40.625em; //650px
$mq-xlarge: 53.125em;  //850px
$mq-huge: 65.625em; //1050px'
$mq-giant: 75em; //1200px

$mq-large-only: $mq-large 53.0625em;
$mq-on-canvas-menu: (min-width: $mq-xlarge, orientation: landscape,);

$footer-height: 50px;
$light-color: hsl(0, 0%, 55%);
$nav-font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial';


//----------------------------------*\
// DEFAULT FONT SETTINGS
//----------------------------------*/
$default-font-family: 'Josefin Sans','Neuton', 'Times New Roman', 'Times', 'Georgia', sans-serif;
$default-line-height: 1.6;
$default-font-color: hsl(0, 0%, 10%);
$default-font-weight: 400;
$default-link-color: hsl(189,96%,38%);
$default-link-color-hover: hsl(188,96%,45%);




//----------------------------------*\
// HEDINGS FONT SETTINGS
//----------------------------------*/
$heading-font-family: $default-font-family;
$heading-line-height: 1.2;
$heading-color: $default-font-color;
$heading-font-weight: 400;



//----------------------------------*\
// MARGINS ANS PADDINGS
//----------------------------------*/
$default-top-margin: 1.6em;



//----------------------------------*\
// OFF CANVAS NAVIGATION
//----------------------------------*/
$off-canvas-nav-width: calc(100% - 10px);
$off-canvas-nav-max-width: 320px;
$off-canvas-nav-background: black;
$off-canvas-nav-padding: 2em;
$off-canvas-nav-link-color: hsl(0, 0%, 95%);
$off-canvas-nav-font-size: 0.9rem;
$off-canvas-nav-line-height: 1;
$off-canvas-nav-font-weight: bold;



//----------------------------------*\
// SUSY SETTINGS
//----------------------------------*/
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-style: fluid,
  container-position: center,
  columns: 12,
  gutters: .25,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: hide, //show / hide
    color: rgba(#66f, .25),
    output: background, //background / overlay
    toggle: top left,
  ),
);

//border radius
$border-radius-base:        4px !default;
//== Buttons
//
//## For each of buttons, define text, background and border color.

$btn-font-weight:                normal !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;
$btn-border-radius-base:         $border-radius-base !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed !default;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;
$font-size-base:            14px !default;
//** Unit-less `line-height` for use in components like buttons.
$line-height-base:          1.428571429 !default; // 20/14
$line-height-computed:      floor(($font-size-base * $line-height-base)) !default; // ~20px
$legend-color:              gray !default;
$legend-border-color:       #e5e5e5 !default;
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-color:               gray !default;
$input-bg:                  #fff !default;
$input-border:              #ccc !default;
